@mixin allElementsReset {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

@mixin rounded($radius: 0.5rem) {
  border-radius: $radius;
}

@mixin image {
  max-width: 100%;
  height: auto;
  display: block;
}

@mixin listStyleTypeNone {
  ul, ol {
    list-style-type: none;
  }
}