@mixin allElementsReset {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

@mixin rounded($radius: 0.5rem) {
  border-radius: $radius;
}

@mixin image {
  max-width: 100%;
  height: auto;
  display: block;
}

@mixin listStyleTypeNone {
  ul, ol {
    list-style-type: none;
  }
}

@mixin addToCartBtn {
  background-color: #fff;
  color: $rose-900;
  font-size: clamp(.625rem, 3vw, .875rem);
  font-weight: 600;
  padding: clamp(.5rem .9375rem, 2vw 4vw, .75rem 1.5625rem);
  border: 1px solid $rose-500;
  @include rounded(2.5rem);
  display: flex;
  align-items: center;
  gap: 10px;
}