@import "_variables";
@import "_mixins";

@include listStyleTypeNone;

img {
  @include image;
}

.page {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.attribution {
  margin-top: auto;
}