@import "_variables";
@import "_mixins";

@include allElementsReset;
@include listStyleTypeNone;

img {
  @include image;
  @include rounded;
}

.page {
  min-height: 100dvh;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.attribution {
  margin-top: auto;
}

.products-section {
  &__title {
    font-size: 2rem;
    margin-top: 2rem;
  }

  &__content {
    margin-top: 2.5rem;
  }
}

.product {
  &__image-wrapper {
    position: relative;
  }
  
  &__add-to-cart-btn {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    @include addToCartBtn;
  }
}