@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

$color-danger: hsl(14, 86%, 42%);
$color-success: hsl(159, 69%, 38%);

$rose-50:  hsl(20, 50%, 98%);
$rose-100: hsl(13, 31%, 94%);
$rose-300: hsl(14, 25%, 72%);
$rose-400: hsl(7, 20%, 60%);
$rose-500: hsl(12, 20%, 44%);
$rose-900: hsl(14, 65%, 9%);

body {
  font-family: "Red Hat Text", sans-serif;

  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 clamp(2rem, 5vw, 3rem);
}

#desserts .section-title {
  font-size: 2.25rem;
  margin: 2rem 0;
  color: $rose-900;
}

.dessert {
  margin: 1.625rem 0;

  &__image {
    img {
      border-radius: .5rem;
    }
  }

  &__category {
    color: $rose-500;
  }

  &__name {
    color: $rose-900;
  }

  &__price {
    color: $color-danger;
    font-weight: 600;
  }
}
